@model IEnumerable<ReviewSiteMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-2">
        <b>@Html.DisplayNameFor(model => model.Destination)</b>
    </div>

    <div class="col-md-2">
        <b>@Html.DisplayNameFor(model => model.Accommodations)</b>
    </div>

    <div class="col-md-2">
        <b>@Html.DisplayNameFor(model => model.Transportation)</b>
    </div>

    <div class="col-md-2">
        <b>@Html.DisplayNameFor(model => model.Activities)</b>
    </div>

</div><br />

@foreach (var item in Model)
{
      <div class="row">
          <div class="col-md-2">
              @Html.DisplayFor(modelItem => item.Destination)
          </div>

          <div class="col-md-2">
              @Html.DisplayFor(modelItem => item.Accommodations)
          </div>

          <div class="col-md-2">
              @Html.DisplayFor(modelItem => item.Transportation)
          </div>

          <div class="col-md-2">
              @Html.DisplayFor(modelItem => item.Activities)
          </div>

          <div class="col-md-3">
              @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
              @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
          </div>
      </div>
    <hr />
}
