@model ReviewSiteMVC.Models.Review

@{
    ViewBag.Title = "Details";
}

<!-- Customizing Navbar -->
<style type="text/css">
    body {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
    }

    nav {
        background-color: lightseagreen;
    }
</style>

<!-- Using rows and columns -->

<div class="row">
    <div class="col-md det-head">
        <h2 id="det-h2"> Details </h2>

        <h4>Review</h4>
    </div>
</div>

<!-- Setting up "cards" display -->

<div class="row">
    <div class="col-md det-cards">

        <div class="card" id="det-card">
            <div id="det-title">
                <h4 id="det-h4">
                    @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
                </h4>
            </div>

            <p>
                @Html.DisplayNameFor(model => model.Category.Destination): @Html.DisplayFor(model => model.Category.Destination)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)
            </p>

            <div class="card-captions" id="det-card-captions">
                <p>
                    @Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.PublishDate): @Html.DisplayFor(model => model.PublishDate)
                </p>
            </div>
        </div>

    </div>
</div>

<button class="button" id="det-btn"> @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) </button>
<button class="button" id="det-btn">@Html.ActionLink("Back to List", "Index") </button>